$card-bg: #212529;

$highlight-border: #a05800;
$highlight-shadow: #4d2a00;

$sidebar-color: #ff00514f;

$bg-color: #18191a;
$text-color: #e4e6eb;

$text-link-color: #fb8c00;
$bg-link-color: #5f3400;
