---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

@use 'tan-palette' as tanp;

body {
  background: tanp.$bg-color; /* dark canvas */
  color: tanp.$text-color; /* soft text */
  font-family: 'Fira Code', monospace;
}

#panel-wrapper {
  display: none;
}

#main-wrapper .row main {
  width: 100%;
  max-width: none;
  padding: 2rem;
}

#sidebar {
  background-color: tanp.$bg-color;
  color: tanp.$text-color;
  border-right: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    130deg,
    tanp.$sidebar-color,
    tanp.$bg-color
  );
  box-shadow:
    1px 1px 1em tanp.$sidebar-color;
}

#topbar {
  background-color: tanp.$bg-color;
  color: tanp.$text-color;
  display: none;
}

#tail-wrapper {
  background-color: tanp.$bg-color;
  color: tanp.$text-color;
  width: 100%;
  margin-left: 0;
  padding: 2rem;
}

#tail-wrapper footer {
  background-color: tanp.$bg-color;
  color: tanp.$text-color;
}

#mode-switch,
.mode-switch {
  display: none !important;
}

.content a:not(.img-link):hover {
  color: tanp.$bg-link-color !important;
  border-bottom: 1px tanp.$bg-link-color;
  text-decoration: none;
}
