---
---

@use 'tan-palette' as tanp;

.outlined-section {
  background-color: tanp.$bg-color;
  text-align: center;
  min-height: 210px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

.outlined-section-wrapper {
  border-radius: 16px;
  padding: 2px;
  background: tanp.$highlight-border;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  box-shadow:
    0px 0px 0px tanp.$highlight-border,
    0px 3px 5px tanp.$highlight-shadow;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

main h1 {
  margin-top: 0rem;
}

main h2 {
  margin: 0rem 0 1.25rem;
}

.section-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: tanp.$text-link-color;

  &::after {
    content: '';
    position: absolute;
    left: -10%;
    bottom: -0.5rem;
    width: 120%;
    height: 4px;
    border-radius: 2px;
    background: tanp.$text-link-color;
    box-shadow:
      0 0 12px rgba(tanp.$highlight-border, 0.5),
      0 0 12px rgba(tanp.$highlight-shadow, 0.5);
  }
}

.section-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
}
